/* CSS Document */

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.block {
    text-align: center;
    margin : 0px !important;
    padding : 0px !important;
}

.sentenceblock {
    padding-top: 1em;
    padding-bottom: 2em;
    color : rgba(41,41,41,1.00);
    font-size: 1.2em;
    text-align: center;
    background-color: rgba(223,223,223,1.00);
    -webkit-box-shadow: inset 0px 10px 10px rgba(0,0,0,0.23);
    box-shadow: inset 0px 10px 10px rgba(0,0,0,0.23);
}

.featureblock {
    padding-bottom: 1em;
}

.featureheadder {
    color: #740036;
}

.blockcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.console{
    display : block;
    text-align: left;
    padding : 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3em;
    background-color: rgba(41,41,41,1.00);
    color : rgba(102,199,219,1.00);
    font-family: "Consolas", "Lucida Console", Monaco, monospace;
    border-radius: 10px;
}

.innershadow{
    -webkit-box-shadow: inset 0px 10px 10px rgba(0,0,0,0.23);
    box-shadow: inset 0px 10px 10px rgba(0,0,0,0.23);
}

.strong{
    color: #b60067;
    font-weight: bold;
}

.sampleframe{
    display : inline-block;
    overflow: hidden;
    width : 300px;
    height : auto;
    background: #eeeeee;
    border-radius: 16px;
    border-style: solid;
    border-color: #224940;
}
.sampleframe img{
    border-radius: 16px;
}
a.linkhover{
    display: inline-block;
    background-color: rgba(0,0,0,0.00);
}

a.linkhover:focus,
a.linkhover:hover{
    background-color: rgba(0,255,255,0.20);
}

img.linkhover{
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform: translate(0px,0px) rotate(0deg) scale(1,1);
    filter: none;
}

img.linkhover:focus,
img.linkhover:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform: translate(0px,0px) rotate(0deg) scale(1.05,1.05);
    filter: brightness(1.4);   
}

/* custom */

h1 {
    color: #ffffff;padding : 6px;
}

h2 {
    color : #333333;
    font-size: 1.2em;
}
.maintext {
    color : #000000;
    font-size: 1.1em;
}

